<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .container {
            padding: 10%;
        }

        main {
            max-width: 640px;
            margin: 0 auto;
        }

        body nav li.nav-item {
            margin-left: 10px;
        }
    </style>
    <title>{% block title %}socials API{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://socials.karllorey.com">Socials API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% with request.resolver_match.url_name as url_name %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url "socials_api_web:home" %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if url_name == 'try' %}active{% endif %}">
                    <a class="nav-link" href="{% url "socials_api_web:try" %}">Try it</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "socials_api_api:root" %}" target="_blank">API/Documentation</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/lorey/socials-api" target="_blank"><i
                            class="fa fa-github"></i> Socials API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/lorey/socials" target="_blank"><i
                            class="fa fa-github"></i> Socials Library</a>
                </li>
            </ul>
        </div>
    {% endwith %}
</nav>
<div class="container">
    <main>
        {% block content %}{% endblock content %}
    </main>

</div>

<div class="footer small mt-5 text-center">
    Created with a passion for data by <a href="https://karllorey.com" target="_blank">Karl Lorey</a>.
    Code is on <a href="https://github.com/lorey" target="_blank">GitHub</a>.
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>